@{
    ViewBag.Title = "About";
    string sBaseurl = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"];
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <a id="adddata" href="#">Add data</a>
        <div id="Insertdata" style="display: none;">
               <form id="DataforEmployee" action="post">
            <div> <label>First Name</label>
                <input type="text" placeholder="Enter FirstName" name="FirstName" id="FirstName"/>
            </div>
            <div> <label>Last Name</label>
                <input type="text" placeholder="Enter LastName" name="LastName" id="LastName"/>
            </div>
                   <div> <label>Contact No.</label>
                       <input type="text" placeholder="Enter ContactNo" name="ContactNo" id="ContactNo"/>
                   </div>
                   <div> <label>Address</label>
                       <input type="text" placeholder="Enter Address" name="Address" id="Address"/>
                   </div>
                   <input type="button" name="Insert" value="Insert" id='Insertrow'/>
         </form>

        </div>
    </p>

    <p>
        <a id="viewdata" href="#">View data</a>
        <div id="Displaydata" style="display: none;">
            </div>
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

<script>

    $("#adddata").click(function() {
        // var datatoinsert = $("#Insertdata").val();
        $("#Insertdata").css("display", "block");
    });
   
    $("#Insertrow").click(function() {
        

        $.ajax({
            type: "POST",
            url: '@sBaseurl' + "/Home/Adddata",
            async: false,
            data: $('#DataforEmployee').serialize(),
            success: function(data) {
                if (data == "Success") {
                    alert("success");
                } else {
                    {
                        alert("error");
                    }
                }
            }
        });
    });
    $("#viewdata").click(function() {
        // var datatoinsert = $("#Insertdata").val();
        
        var dataSet = [];
        $.ajax({
            url: '@sBaseurl' + "/Home/GetEmployeeData",
            type: 'GET',
            cache: false,
            data: {},
            success: function(data) {
                for (var i = 0; i < data.length; i++) {

                    dataSet.push([data[i].FirstName, data[i].LastName, data[i].ContactNo, data[i].Address]);

                }
                $('#Displaydata').html('<table style="overflow-x: scroll;display: inline-block;" cellpadding="0" cellspacing="0" border="0" class="display" id="screen_display_table"></table>');

                $('#screen_display_table').dataTable({
                    "data": dataSet,
                    "columns": [
                        { "title": "First Name" },
                        { "title": "Last Name" },
                        { "title": "Contact" },
                        { "title": "Address" }
                    ],
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        }]

                });
                $("#Displaydata").css("display", "block");

            }
        });
    });
</script>