@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <a id="adddata" href="#">Add data</a>
        <div id="Insertdata" style="display: none;">
        <input type="text" value="json" name="Insertdata" id="Insertdata"/></div>
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

<script>

    $("#adddata").click(function() {
        var datatoinsert = $("#Insertdata").val();
        $.ajax({
            type: "GET",
            url: BASE_URL + "/Home/Adddata",
            async: false,
            data: { datatoinsert: datatoinsert },
            success: function (data) {
                var i = 0;
                if (data.length > 0) {

                    var optionValue = "";
                    optionValue += "<option value=''>Select the lottery you would like to test</option>";
                    for (i = 0; i < data.length; i++) {
                        optionValue += "<option value='" + data[i].Lottery_Id + "'>" + "Lottery_" + data[i].Lottery_Id + "</option>";

                    }
                    $("#lottery").html(optionValue);
                    onblur_event("div_school_lottery", null);
                }
            }
        });
    });
</script>