@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@model IEnumerable<MongoDbSample.Models.Student>

@*var htmlData = "<span style='display: inline-flex;'><a href='@sBaseurl' target='_blank'><input type='button' class='btn tiny btn-success' style='border-radius: 3px;' value='Edit' /></a>&nbsp;&nbsp;<a href='@sBaseurl/Home/DeleteStudentRecord?uid=" + data[i].Uid + "'><input type='button' class='btn tiny btn-success' style='border-radius: 3px;' value='Delete' /></a></span>";*@

<div>
    <h3>This a sample MongoDB program.</h3>
</div>
<div>
    <div id="screen_section">
        <table border="1" style="width: 100%;border-spacing: inherit">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Grade</td>
                <td>Address</td>
                <td>Phone</td>
                <td>City</td>
            </tr>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Name</td>
                    <td>@r.Grade</td>
                    <td>@r.Address</td>
                    <td>@r.Phone</td>
                    <td>@r.City</td>
                </tr>

            }
        </table>
    </div>
</div>



